/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    background: #7e0b0b;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 1170px;
    width: 95%;
    margin: 0 auto;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}
.width-50{
    width: 50%;
}
.width-33{
    width: 33.33%;
}
header{
    background-color: #ffffff;
}
.header {
    align-items: center;
}
.header .header-logo img {
    width: 200px;
}
.header-address h3 {
    color: #7e0b0b;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.33;
}
.location-bg-section {
    margin-top: 5%;
}
.location-header-section h2 {
    color: #ffa22b;
    font-size: 40px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 1.3;
}
a.location {
    width: 50%;
    text-align: center;
    text-decoration: none;
}
a.location span {
    background: #ffa22b;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}
a.location span:after {
    position: absolute;
    content: '';
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #7e0b0b;
}
a.location span p {
    color: #7e0b0b;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}